@font-face {
  font-family: "SF UI Text";
  src: url("fonts/SFUIText-Light.eot");
  src: local("SF UI Text Light"), local("SFUIText-Light"),
    url("fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/SFUIText-Light.woff") format("woff"),
    url("fonts/SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: SF UI Text, Arial, Helvetica, sans-serif;
}

.header {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.avatar {
  text-align: center;
  margin-bottom: 50px;
}

.avatar__img {
  margin: 0 0 20px 0;
}

.avatar__represent-text_line-height {
  font-family: SF UI Text, Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.animation {
  text-align: center;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.animation__stick {
  width: 50px;
  height: 1px;
  background-color: rgb(37, 37, 37);
  margin: 0;
}

.animation__stick-first {
  transform-origin: right;
  animation-name: firstStick;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animation__stick-last {
  transform-origin: left;
  animation-name: lastStick;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes firstStick {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-120deg);
  }
}

@keyframes lastStick {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(120deg);
  }
}

.grid-support {
  text-align: center;
  color: red;
}

/*  Секция проектов портфолио  */

.main {
  min-height: 600px;
}

.projects-section {
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 2vh;
  margin-right: 1vh;
  margin-left: 1vh;
}

.project {
  width: 300px;
  margin: 0 auto;
}

.projects-title {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin-bottom: 10vh;
  font-size: 1.5em;
}

.project__img-container {
  height: 312px;
  margin-bottom: 15px;
}

.project__description_line-height {
  margin: 0 0 10px 0;
}

.project__description_first-paragraph {
  min-height: 60px;
}

.project__img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.project__img:hover {
  transform: scale(1.1);
}

.project-sberkids {
  grid-column-start: 3;
  grid-column-end: 4;
}

.production-projects, .pets-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5vh;
}

/* .production-projects {
  background-color: #962396;
  color: white;
}

.pets-projects {
  background-color: #76a05a;
  color: white;
} */

/* Style for contacts */

.contacts {
  text-align: center;
}

.contacts__item {
  margin: 0 auto 10px;
}

.contacts__link {
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .projects-section {
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .production-projects, .pets-projects {
    grid-template-columns: 1fr;
  }
  .project {
    text-align: center;
    width: 100%;
    margin-bottom: 4vw;
  }
  .projects-title {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .project-sberkids {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .project__description_first-paragraph {
    min-height: 0;
  }
}
